
<footer class="footer">
  <div class="footer-content">
    <div>
      <h3>Vestige d’Or</h3>
      <p>Ventes aux enchères d’objets rares & pièces d’exception.</p>
    </div>

    <div>
      <h4>Liens</h4>
      <ul>
        <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
        <li><a href="{{ path('app_lot_index') }}">Enchères</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div>
      <h4>Newsletter</h4>
      <form>
        <input type="email" placeholder="Votre email">
        <button>S’inscrire</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© {{ "now"|date("Y") }} Vestige d’Or</span>
    <span>FR · EN</span>
  </div>
</footer>
