<form method="post" action="{{ path('app_evenement_enchere_delete', {'id': evenement_enchere.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement_enchere.id) }}">
    <button class="btn btn-outline-danger btn-sm">Supprimer</button>
</form>
