{% extends 'base.html.twig' %}

{% block title %}New EvenementEnchere{% endblock %}

{% block body %}
    <h1>Create new EvenementEnchere</h1>

    {{ include('evenement_enchere/_form.html.twig') }}

    <a href="{{ path('app_evenement_enchere_index') }}">back to list</a>
{% endblock %}
