{% extends 'base.html.twig' %}
{% block title %}Maison d’Enchères — Accueil{% endblock %}
{% block body %}
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Maison d’Enchères</h1>
      <p class="hero-subtitle">Ventes aux enchères d’objets rares & pièces d’exception.</p>
    </div>
  </section>  
{% endblock %}

