{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_enchere_utilisateur_delete', {'id': enchere_utilisateur.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enchere_utilisateur.id) }}">
    <button class="btn btn-outline-danger btn-sm">Supprimer</button>
</form>
{% endif %}
